@{ 
    ViewBag.Title = "AguardandoConfirmacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bem vindo(a) ao fórum Bytebank</h2>

<p>Por favor, verifique a caixa de entrada para confirmar o seu email!</p>